{% extends 'base.html' %}

{% block content %}
    <h1 class="title">Apply for Job - {{ job.title }}</h1>

    <form action="" method="post">
        {% csrf_token %}

        {% if form.errors %}
            {% for error in form.errors %}
                <div class="notification is-danger">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}

        <!-- {% for field in form %}
            <div class="field">
                <label>{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %} -->

        <div class="field">
            <label>Title</label>

            <div class="control">
                <input class="input" type="text" name="title" id="id_title">
            </div>
        </div>

        <div class="field">
            <label>Summary</label>

            <div class="control">
                <textarea class="textarea" name="summary" id="id_summary"></textarea>
            </div>
        </div>

        <div class="field">
            <label>Full Description</label>

            <div class="control">
                <textarea class="textarea" name="full_description" id="id_full_description"></textarea>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button class="button is-success">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}