{% extends 'base.html' %}

{% block title %}{{ job.title }}{% endblock %}

{% block content %}
    <div class="container mx-auto px-4">
        <h1 class="text-3xl font-bold mb-4">{{ job.title }}  ({{ job.get_status_display }})</h1>

        <div class="bg-gray-100 p-4 rounded-lg mb-4">
            <h2 class="text-lg font-semibold mb-2">About Job:</h2>
            <p>{{ job.summary }}</p>
        </div>

        <div class="bg-gray-100 p-4 rounded-lg mb-4">
            <h2 class="text-lg font-semibold mb-2">Company Details:</h2>
            {% if job.company_name %}<p><b>Company name:</b> {{ job.company_name }}</p>{% endif %}
            {% if job.company_location %}<p><b>Company Location:</b> {{ job.company_location }}</p>{% endif %}
            {% if job.company_size %}<p><b>Company size:</b> {{ job.get_company_size_display }}</p>{% endif %}
        </div>

        <div class="bg-gray-100 p-4 rounded-lg mb-4">
            <h2 class="text-lg font-semibold mb-2">Full Description/Requirements:</h2>
            <p>{{ job.full_description }}</p>
        </div>

        {% if job.status == 'open' %}
            <a href="{% url 'apply' job.id %}" class="inline-block px-6 py-3 bg-green-500 text-white font-semibold rounded-lg hover:bg-green-600 transition duration-300">Apply for Job</a>
        {% else %}
            <p>This Job is no Longer Available</p>
        {% endif %}
    </div>
{% endblock %}
