{% block content %}
<div class="container mx-auto mt-8">
    <div class="">
        <h1 class="text-3xl font-bold mb-4 text-center">The Easiest Way To Get Your Dream Job
        </h1>

        <form id="search-form" class="mb-4">
            <div class="mb-4">
                <label for="query" class="block text-gray-700 font-semibold"></label>
                <input type="text" id="query" name="query" class="w-full mt-1 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500" placeholder="Search for jobs" required>
            </div>
            <div class="mb-4">
                <label for="company_country" class="block text-gray-700 font-semibold">Country</label>
                <select id="company_country" name="company_country" class="w-full mt-1 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500">
                    <option value="" selected>All</option>
                    {% for code, name in countries %}
                        <option value="{{ code }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-8">
                <label for="company_size" class="block text-gray-700 font-semibold">Company Size</label>
                <select id="company_size" name="company_size" class="w-full mt-1 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500">
                    <option value="" selected>All</option>
                    <option value="size_1-9">1-9</option>
                    <option value="size_10-49">10-49</option>
                    <option value="size_50-99">50-99</option>
                    <option value="size_100">100+</option>
                </select>
            </div>
            <div class="flex justify-center">
                <button type="submit" class="bg-indigo-600 text-white px-6 py-3 rounded-lg hover:bg-indigo-700 focus:outline-none focus:bg-indigo-700">Search</button>
            </div>
        </form>

        <div id="job-results" class="mt-8"></div>
    </div>
</div>


<script>
    document.getElementById('search-form').addEventListener('submit', function(event) {
        event.preventDefault();
        performSearch();
    });

    function performSearch() {
        var query = document.getElementById('query').value.trim();
        var companyCountry = document.getElementById('company_country').value.trim();
        var companySize = document.getElementById('company_size').value.trim();

        if (!query) {
            alert('Please enter a search query.');
            return;
        }

        var data = {
            'query': query,
            'company_country': companyCountry,
            'company_size': companySize
        }

        fetch('jobs/search/api/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: JSON.stringify(data)
        })
        .then(function(response) {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(function(result) {
            console.log('Success', result.jobs);
            displayJobs(result.jobs);
        })
        .catch(function(error) {
            console.error('Error', error);
            alert('An error occurred while performing the search.');
        });
    }

    function displayJobs(jobs) {
        var jobResults = document.getElementById('job-results');
        jobResults.innerHTML = '';

        if (jobs.length === 0) {
            var noResultsMessage = document.createElement('p');
            noResultsMessage.textContent = 'No jobs found.';
            noResultsMessage.classList.add('text-red-500', 'font-bold', 'text-lg', 'my-4');
            jobResults.appendChild(noResultsMessage);
        } else {
            jobs.forEach(function(job) {
                var div = document.createElement('div');
                div.classList.add('bg-white', 'p-6', 'rounded-lg', 'shadow-md', 'mb-4');

                var h3 = document.createElement('h3');
                h3.classList.add('text-xl', 'font-bold', 'text-indigo-600', 'mb-2');
                h3.textContent = job.title;

                var companyPara = document.createElement('p');
                companyPara.classList.add('text-gray-600', 'mb-2');
                companyPara.textContent = 'Company: ' + job.company_name;

                var detailsLink = document.createElement('a');
                detailsLink.classList.add('text-blue-500', 'hover:text-blue-700', 'font-bold');
                detailsLink.setAttribute('href', job.url);
                detailsLink.textContent = 'View Details';

                div.appendChild(h3);
                div.appendChild(companyPara);
                div.appendChild(detailsLink);

                jobResults.appendChild(div);
            });
        }
    }

    // Function to get CSRF token from cookie
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
{% endblock %}