{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Welcome to Panda Jobs</h1>

    <h2 class="subtitle has-text-centered">Newest Jobs</h2>

    <div class="columns">
        {% for job in jobs %}
            <div class="column is-4">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">{{ job.title }}</p>
                                <p class="subtitle is-6">{{ job.company }}</p>
                                <p class="subtitle is-7">{{ job.created_at }}</p>
                            </div>
                        </div>
                        
                        <div class="content">
                            {{ job.summary }}

                            <hr>

                            <a href="{% url 'job_detail' job.id %}">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}