{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1 class="title">Dashboard</h1>
    <p>Welcome, {{ request.user.username }}!</p>

    {% if userprofile.is_employer %}

        <h2 class="subtitle">Add Job</h2>
        <a href="{% url 'add_job' %}" class="button is-success">Add Job</a>

        <div class="is-divider"></div>
        <hr>
        <h2 class="subtitle">Jobs Posted</h2>

        {% for job in request.user.jobs.all %}
            <div class="job">
                <p>{{ job.title }}</p>
                <a class="button is-success" href="{% url 'view_dashboard_job' job.id %}">View Job</a>
            </div>
        {% empty %}
            <p>You don't have any jobs yet.</p>
        {% endfor %}
    {% else %}

    <div class="is-divider"></div>
    <hr>
    
        <h2 class="subtitle">Job Applications</h2>

        {% for application in request.user.applications.all %}
            <div class="application">
                <p>{{ application.job.title }}</p>
                <a href="{% url 'view_application' application.id %}">View Application</a>
            </div>
        {% empty %}
            <p>You don't have any applications yet.</p>
        {% endfor %}
    {% endif %}
{% endblock %}