{% extends 'base.html' %}

{% block title %}Notifications{% endblock %}

{% block content %}
    <div class="container mx-auto">
        <h1 class="text-2xl font-bold mb-4">Notifications</h1>

        {% if not notifications %}
            <p>You don't have any notifications yet.</p>
        {% endif %}

        {% for notification in notifications %}
            <div class="bg-gray-100 p-4 mb-4 rounded-lg">
                <p>
                    {% if notification.notification_type == 'message' %}
                        <a href="{% url 'notifications' %}?goto=view_application&notification={{ notification.id }}&extra_id={{ notification.extra_id }}" class="text-blue-500">
                            <strong>{{ notification.created_by.username }}</strong> sent you a message<br>
                            <small>{{ notification.created_at | timesince }} ago</small>
                        </a>
                    {% elif notification.notification_type == 'application' %}
                        <a href="{% url 'notifications' %}?goto=view_application&notification={{ notification.id }}&extra_id={{ notification.extra_id }}" class="text-blue-500">
                            <strong>{{ notification.created_by.username }}</strong> applied to your job<br>
                            <small>{{ notification.created_at | timesince }} ago</small>
                        </a>
                    {% endif %}
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
